.d-block {
    display: block !important;
}

.d-inline-block {
    display: inline-block !important;
}

.text-center {
    text-align: center !important;
}

.text-right {
    text-align: right !important;
}

.text-left {
    text-align: left !important;
}

.img-fluid {
    display: block;
    max-width: 100%;
    height: auto;
}

.circle-image {
    border-radius: 50% !important;
}

.overflow-hidden {
    overflow: hidden !important;
}

.overflow-visible {
    overflow: visible !important;
}